
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
}

section#hero{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-align: center;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail{
    border: 10px solid rgb(97, 203, 230);
    border-radius: 15px;
    width: 800px;
    margin: 20px;
}

.project-detail img{
    width: 100%;
}

header{
    
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(255, 255, 255);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: bisque;
}